﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}


@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
    <h1 class="display-4">Welcome, You are registered, use navbar to navigate</h1>
    </div>
 }
@*else
{
    <span>Not Logged in</span>
}*@