﻿@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3"> 

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Book List</h2>
        </div>
     
        <div class="col-6 text-end">
            <a asp-controller="Book" asp-action="Create" class="btn btn-primary"> 
               <i class="bi bi-plus-circle"></i> &nbsp; Create New Book
            </a>
        </div>
    </div>
    <br /><br />


<table class="table table-boarded table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Book Name
            </th>
            <th>
                Release Year
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach(var obj in Model)
        {
            
            <tr>
                <td width="50%">
                    @obj.Name
                </td>
                <td width="30%">
                    @obj.ReleaseYear
                    
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Book" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-primary mx-2"><i class="bi bi-pencil-square"> </i>Edit</a>
                         <a asp-controller="Book" asp-action="Delete" asp-route-id="@obj.Id"
                        class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i>Delete</a>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>
</div>